In [1]:
import pandas as pd
import numpy as np
import ast





Games = pd.read_csv('C:/Users/User/Desktop/GUVI/PROJECT_2/Games.csv')
Sales = pd.read_csv('C:/Users/User/Desktop/GUVI/PROJECT_2/vgsales.csv')
print('Game data')
Games.head()

Game data

,Unnamed: 0,Title,Release Date,Team,Rating,Times Listed,Number of Reviews,Genres,Summary,Reviews,Plays,Playing,Backlogs,Wishlist
0,0,Elden Ring,"Feb 25, 2022","['Bandai Namco Entertainment', 'FromSoftware']",4.5,3.9K,3.9K,"['Adventure', 'RPG']","Elden Ring is a fantasy, action and open world...","[""The first playthrough of elden ring is one o...",17K,3.8K,4.6K,4.8K
1,1,Hades,"Dec 10, 2019",['Supergiant Games'],4.3,2.9K,2.9K,"['Adventure', 'Brawler', 'Indie', 'RPG']",A rogue-lite hack and slash dungeon crawler in...,['convinced this is a roguelike for people who...,21K,3.2K,6.3K,3.6K
2,2,The Legend of Zelda: Breath of the Wild,"Mar 03, 2017","['Nintendo', 'Nintendo EPD Production Group No...",4.4,4.3K,4.3K,"['Adventure', 'RPG']",The Legend of Zelda: Breath of the Wild is the...,['This game is the game (that is not CS:GO) th...,30K,2.5K,5K,2.6K
3,3,Undertale,"Sep 15, 2015","['tobyfox', '8-4']",4.2,3.5K,3.5K,"['Adventure', 'Indie', 'RPG', 'Turn Based Stra...","A small child falls into the Underground, wher...",['soundtrack is tied for #1 with nier automata...,28K,679,4.9K,1.8K
4,4,Hollow Knight,"Feb 24, 2017",['Team Cherry'],4.4,3K,3K,"['Adventure', 'Indie', 'Platform']",A 2D metroidvania with an emphasis on close co...,"[""this games worldbuilding is incredible, with...",21K,2.4K,8.3K,2.3K

In [2]:
print('sales data')
Sales.head()

sales data

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [3]:
Games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1512 entries, 0 to 1511
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         1512 non-null   int64
 1   Title              1512 non-null   object
 2   Release Date       1512 non-null   object
 3   Team               1511 non-null   object
 4   Rating             1499 non-null   float64
 5   Times Listed       1512 non-null   object
 6   Number of Reviews  1512 non-null   object
 7   Genres             1512 non-null   object
 8   Summary            1511 non-null   object
 9   Reviews            1512 non-null   object
 10  Plays              1512 non-null   object
 11  Playing            1512 non-null   object
 12  Backlogs           1512 non-null   object
 13  Wishlist           1512 non-null   object
dtypes: float64(1), int64(1), object(12)
memory usage: 165.5+ KB

In [4]:
Sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [5]:
Games = Games.drop_duplicates()
Sales = Sales.drop_duplicates()

In [6]:
Games.isnull().sum().all()

False

In [7]:
Sales.isnull().sum().all()

False

In [15]:
missing_counts = Games.isnull().sum()
print(missing_counts)

Unnamed: 0            0
Title                 0
Release Date          0
Team                  1
Rating               13
Times Listed          0
Number of Reviews     0
Genres                0
Summary               1
Reviews               0
Plays                 0
Playing               0
Backlogs              0
Wishlist              0
dtype: int64

In [17]:
Games = Games.dropna()
Sales = Sales.dropna()

In [19]:
# handle nul values
Games['Rating'] = Games['Rating'].fillna(Games['Rating'].median())

In [21]:
Sales['Publisher'] = Sales['Publisher'].fillna(Sales['Publisher'].mode()[0])
Sales['Year'] = Sales['Year'].fillna(Sales['Year'].median())

In [23]:
def convert_k_to_numeric(val):
    if isinstance(val, str):
        val = val.strip().upper().replace(',', '')
        if 'K' in val:
            return float(val.replace('K', '')) * 1000
        try:
            return float(val)
        except ValueError:
            return np.nan
    return val

In [25]:
k_columns = ['Times Listed', 'Number of Reviews', 'Plays', 'Playing', 'Backlogs', 'Wishlist']
for col in k_columns:
    Games[col] = Games[col].apply(convert_k_to_numeric)

In [27]:
Sales['Genre'] = Sales['Genre'].str.strip().str.title()
Sales['Platform'] = Sales['Platform'].str.strip().str.upper()
Sales['Publisher'] = Sales['Publisher'].str.strip().str.title()

In [29]:
def normalize_genres(genre_str):
    try:
        genres = ast.literal_eval(genre_str)
        return ', '.join(sorted(set(g.strip().title() for g in genres)))
    except:
        return genre_str

Games['Genres'] = Games['Genres'].apply(normalize_genres)

In [31]:
Games['Release Date'] = pd.to_datetime(Games['Release Date'], errors='coerce')
Sales['Year'] = Sales['Year'].astype(int)

In [71]:
import mysql.connector

conn = mysql.connector.connect(
    host="localhost",
    port=3306,
    user="root",
    password="1234",    
    database="Project_2"
)
cursor = conn.cursor()
cursor.execute("CREATE DATABASE IF NOT EXISTS Project_2")
if conn.is_connected():
    print("MySQL database 'Project' created successfully!")
cursor.execute("use project_2")

MySQL database 'Project' created successfully!

In [73]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS Games_data (
    ID INT AUTO_INCREMENT  PRIMARY KEY,
    Title VARCHAR(255),
    Release_date DATETIME,
    Team VARCHAR(255),
    Rating FLOAT,
    Times_listed FLOAT,
    Number_of_Reviews FLOAT,
    Genres VARCHAR(255),
    Summary VARCHAR(4000),
    Reviews VARCHAR(8000),
    Plays FLOAT,
    Playing FLOAT,
    Backlogs FLOAT, 
    Wishlist FLOAT
)
""")

In [39]:
Games.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1498 entries, 0 to 1511
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         1498 non-null   int64
 1   Title              1498 non-null   object
 2   Release Date       1496 non-null   datetime64[ns]
 3   Team               1498 non-null   object
 4   Rating             1498 non-null   float64
 5   Times Listed       1498 non-null   float64
 6   Number of Reviews  1498 non-null   float64
 7   Genres             1498 non-null   object
 8   Summary            1498 non-null   object
 9   Reviews            1498 non-null   object
 10  Plays              1498 non-null   float64
 11  Playing            1498 non-null   float64
 12  Backlogs           1498 non-null   float64
 13  Wishlist           1498 non-null   float64
dtypes: datetime64[ns](1), float64(7), int64(1), object(5)
memory usage: 175.5+ KB

In [63]:
Games.pop('Unnamed: 0')

KeyError: 'Unnamed: 0'

In [65]:
Sales.pop('Rank')

0            1
1            2
2            3
3            4
4            5
         ...
16593    16596
16594    16597
16595    16598
16596    16599
16597    16600
Name: Rank, Length: 16291, dtype: int64

In [43]:
num_rows = Games.shape[0]
print(num_rows) 
column_length = Games['Summary'].astype(str).apply(len).max()
print(column_length)
max_lengths_per_column = Games.astype(str).apply(lambda x: x.str.len().max())
print("\nMaximum string length for each column:")
print(max_lengths_per_column)

1498
3789

Maximum string length for each column:
Title                  73
Release Date           10
Team                   72
Rating                  3
Times Listed            6
Number of Reviews       6
Genres                 79
Summary              3789
Reviews              7982
Plays                   7
Playing                 6
Backlogs                6
Wishlist                6
dtype: int64

In [75]:

for index, row in Games.iterrows():
    query = "INSERT INTO Games_data (Title, Release_date, Team, Rating, Times_listed, Number_of_Reviews, Genres, Summary, Reviews, Plays, Playing, Backlogs, Wishlist) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
    cursor.execute(query, tuple(row))
        
conn.commit();

In [83]:
Sales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16291 entries, 0 to 16597
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          16291 non-null  object
 1   Platform      16291 non-null  object
 2   Year          16291 non-null  int32
 3   Genre         16291 non-null  object
 4   Publisher     16291 non-null  object
 5   NA_Sales      16291 non-null  float64
 6   EU_Sales      16291 non-null  float64
 7   JP_Sales      16291 non-null  float64
 8   Other_Sales   16291 non-null  float64
 9   Global_Sales  16291 non-null  float64
dtypes: float64(5), int32(1), object(4)
memory usage: 1.3+ MB

In [85]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS Sales_data (
    Id INT AUTO_INCREMENT PRIMARY KEY,
    Name VARCHAR(255),
    Platform VARCHAR(100),
    Year INT,
    Genre VARCHAR(100),
    Publisher VARCHAR(100),
    Na_sales FLOAT,
    Eu_sales FLOAT,
    Jp_sales FLOAT,
    Other_sales FLOAT,
    Global_sales FLOAT
)
""")

In [87]:
for index, row in Sales.iterrows():
    query = "INSERT INTO Sales_data (Name, Platform, Year, Genre, Publisher, NA_Sales, EU_Sales, JP_Sales, Other_Sales, Global_Sales) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
    cursor.execute(query, tuple(row))
        
conn.commit();

In [61]:
conn.close()

######